:root {
    --table_border: 2px solid black;
    --table_data_border: 1px solid black;
    --button_bg_color: #7b6dbb
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    text-align: center;
}


.TableHeader {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 4em;
    text-align: center;
}

.button {
    cursor: pointer;
}

table {
    width: 800px;
    border: var(--table_border);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: var(--table_data_border)
}

caption {
    caption-side: top;
    text-align: center;
    font-size: 14px;
}

.form {
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: linear-gradient(45deg, #FF1F0436 12%, #FFFC9596, #FF1F0436 88%) fixed;
}

.auth_button {
    background-color: var(--button_bg_color);
    border: none;
    color: #d5d5d5;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}

.auth_field {
    margin-bottom: 5px;
    border: 2px solid;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #7B6DBB;
    box-sizing: border-box;
}

.auth_button:hover, .user_b:hover {
    opacity: 0.8;
}

.user_b {
    background-color: var(--button_bg_color);
    border: none;
    color: #d5d5d5;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
}

.delete_b:hover {
    color: #f44336;
}

header {
    display: block;
    height: 405px;
    background: #4e4572;
    position: fixed;
}